
body {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    background-color: white;
}


@font-face {
    font-family: googlefont;
    src: url(../fonts/Italiana/Italiana-Regular.ttf);
}

/* logo */

header {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 0%;
    margin-bottom: 0%;

    
}

/* choosen budget */

h4 { 
    display: flex;
    justify-content: center;
    background: rgb(29, 69, 29);
    border: 0px solid rgb(29, 69, 29);
    width: 100vmax;
    padding: 1em;
    padding-left: 3em;
    color: white;
    margin-bottom: 0em;
    margin-top: 0em;
    
}

/* main info */

main {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section img {
    width: 30%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.achtergrond {
    background-image: url(../images/poesje.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100em;
    
}

.achter {
    background-image: url(../images/hondje.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100em;
}


nav {
    text-align: center;
    margin-left: 16.5em;
    margin-bottom: 10%;
    margin-left: 36%;
    
}

.fleur {
    width: 130%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;

}

.sara {
    width: 160%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;

}

.stijn {
    width: 135%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;

}


div {
    background-color: black;
    border-radius: 150px/90px;
}


footer { 
    display: flex;
    justify-content: center;
    background: rgb(29, 69, 29);
    border: 2px solid rgb(29, 69, 29);
    width: auto;
    height: 2em;
    padding: 1em;
    margin-bottom: auto;

}

footer p {
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 0em;
}

.navigatie {
    margin-right: 30%;
    margin-left: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0em;

}

ul {
    padding: 0em;

}
